  /* --- PhotosPage --- */
 #PhotosPage h1 a {text-decoration: none; color: #777; font-size: 66.67%}
 #PhotosPage h1 a:hover, #PhotosPage h1 a:active, #PhotosPage h1 a:focus {text-decoration: underline; color: #333}
.Photos, .previewPhotos {margin: -4px 0 0 -4px}
.previewPhotos, .PhotoPageOnHolder p {margin-bottom: .5em}
.PhotoPageOnHolder {margin-bottom: 1em; padding-top: .5em; border-top: 3px solid #ececec}
.photo {float: left; width: 170px; margin: 4px 0 0 4px}
.photo a {border: 1px solid #dfdfdf; display: block; text-decoration: none}
.photo a:hover {border: 1px solid #444; outline: 1px solid #999}
.photo a img {display: block}
